html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/public/css/empDetail.css")
    body
        h1 사원 리스트 (Read)
        div
            p
                span 사번 :
                strong=emp.EMPNO
            p
                span 이름 :
                strong=emp.ENAME
            p
                span 직책 :
                strong=emp.JOB
            p
                span 급여 :
                strong=emp.SAL
            p
                span 상여금 :
                strong=emp.COMM
            p
                span 입사일 :
                strong=emp.HIREDATE.toLocaleDateString("ko-KR")
            p
                span 상사 :
                strong=emp.MGR
            p
                span 부서 :
                strong=emp.DEPTNO
            p
                a(href=`/empUpdate.do?empno=${emp.EMPNO}`) 수정폼
                    // 수정폼은 디테일과 똑같은데 수정폼으로 있는 것




            // mysql 에서 HIREDATE 시간이 없다. 기본 : date 의 toString
            // == 은 변수를 출력한다.
            // do 는 동적페이지 확장자명