html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        //link(rel="stylesheet" href="/public/css/empDetail.css")
    body
        h1 μ‚¬μ› μμ • νΌ (Read)
        h2 http ν†µμ‹ μ—μ„ μ”μ²­μ 2κ°€μ§€ λ°©μ‹(method) GET κ³Ό POST (π‘€μ•”κΈ°!!! : λ©΄μ ‘μ—λ„ μΆ…μΆ… λ“±μ¥! μ°¨μ΄μ !) // ν•„μ”ν•κ±° μ”μ²­ - μ„λ²„μ‘λ‹µ λ
        h3 GET : νλΌλ―Έν„°λ¥Ό url μ μΏΌλ¦¬μ¤νΈλ§μ— ν¬ν•¨ν•΄μ„ λ³΄λ‚΄λ” λ°©μ‹ (π’κ³µμ ν•λ” url)
            ul
                li λ³΄ν†µ GET λ°©μ‹μ€ λ™μ λ¦¬μ†μ¤μ μ •λ³΄λ¥Ό μ¶”μ¶(SELECT)ν•λ” λ° μ‚¬μ©λλ” νλΌλ―Έν„°λ¥Ό λ³΄λ‚Ό λ• μ‚¬μ©ν•λ‹¤.
                li λ•λ¬Έμ— λ³΄ν†µ νλΌλ―Έν„°μ κ°’μ€ λ°”λ€μ§€ μ•κ³  νλΌλ―Έν„°κ°€ μ—†λ‹¤λ©΄ λ™μ λ¦¬μ†μ¤λ” λ™μ‘ν•μ§€ μ•λ”λ‹¤.(400 μ—λ¬)
                li μ €μ¥ν•κ±°λ‚ κ³µμ ν•λ” url μ νλΌλ―Έν„°λ” GET λ°©μ‹μΌλ΅ λ³΄λ‚Έλ‹¤.
                li μ¥μ ) ν†µμ‹ μ†λ„κ°€ POST λ³΄λ‹¤ λΉ λ¥΄λ‹¤, url κ³µμ ν•  μ μλ‹¤.
                li λ‹¨μ ) url κΈΈμ΄κ°€ μ ν•μ μ΄λΌμ„ κ°’μ΄ κΈ΄ νλΌλ―Έν„°λ¥Ό μ „λ‹¬ν•  μ μ—†λ‹¤. (λΈλΌμ°μ €λ§λ‹¤ url κΈΈμ΄κ°€ λ‹¤λ¥΄λ‹¤)
        h3 POST : μ–‘μ‹μ„ μ μ¶ν•λ©΄ νλΌλ―Έν„°λ¥Ό μ”μ²­ Header μ— ν¬ν•¨ν•΄μ„ λ³΄λ‚΄λ” λ°©μ‹ (π’κ³µμ λμ§€ μ•λ” url)
            ul
                li λ³΄ν†µ POST λ°©μ‹μ€ λ°μ΄ν„°λ¥Ό μμ • λ“±λ΅ ν•λ” μ–‘μ‹μ—μ„ νλΌλ―Έν„°λ¥Ό λ³΄λ‚Ό λ• μ‚¬μ©ν•λ‹¤.
                li μ΄λ• μ‚¬μ©λ λ™μ  λ¦¬μ†μ¤λ” νλΌλ―Έν„°μ κ°’μ— μν•΄μ„ λ°μ΄ν„°κ°€ λ³€κ²½λ  μ μκΈ° λ•λ¬Έμ— κ³µμ ν•λ” url λ΅ μ‚¬μ©λ  μ μ—†λ‹¤.
                li μ”μ²­ Header : μ”μ²­ν•λ” λ¦¬μ†μ¤(url), λΈλΌμ°μ €, μ»΄ν“¨ν„°, ν†µμ‹ ... μƒμ„Έ(λ©”νƒ€) μ •λ³΄κ°€ ν¬ν•¨λ¨ // μ”μ²­Header(λ„¤νΈμ›ν¬) μ— μΏΌλ¦¬μ¤νΈλ§(νλΌλ―Έν„°)κ°€ ν¬ν•¨λλ‹¤
                li μ¥μ ) λ³΄μ•μ΄ κ°•ν™”λλ‹¤ (νλΌλ―Έν„°μ κ°’μ΄ μ¨κ²¨μ Έμ„ λ„μ–΄κ°€κΈ° λ•λ¬Έ - ex)ν¨μ¤μ›λ“κ°€ λ³΄μ΄μ§€ μ•λ”λ‹¤), νλΌλ―Έν„° κΈΈμ΄ μ ν•μ΄ μ—†λ‹¤.
                li λ‹¨μ ) GET λ³΄λ‹¤ λλ¦¬λ‹¤. url μ„ κ³µμ ν•  μ μ—†λ‹¤.

        form(name="empUpdateForm",action="/empUpdate.do",method="POST")
            // action : νΌμ—μλ” λ‚΄μ—­μ„ μ–΄λ””λ΅ μ „λ‹¬ν• κ±°λƒ, μ•΅μ… νμ΄μ§€
            // method μ•μ μΌλ©΄ κΈ°λ³Έκ°’ "GET"
            // νΌμ΄ λ²„νΌμ„ ν¬ν•¨ν•κ³  μμ–΄μ•Ό ν•λ‹¤.
            div
                p
                    span μ‚¬λ² :
                    strong=emp.EMPNO
                    input(value=emp.EMPNO,name="empno",type="hidden")
                    // type="hidden" λ³΄μ΄μ§€ μ•μ§€λ§ λ„μ–΄κ°€λ” νλΌλ―Έν„°
                    // name : νλΌλ―Έν„° μ΄λ¦„. νλΌλ―Έν„° ν‚¤κ°’

                p
                    span μ΄λ¦„ :
                    input(value=emp.ENAME,name="ename")
                p
                    span μ§μ±… :
                    input(value=emp.JOB,name="job")
                p
                    span κΈ‰μ—¬ :
                    input(value=emp.SAL,name="sal")
                p
                    span μƒμ—¬κΈ :
                    input(value=emp.COMM,name="comm")
                p
                    span μ…μ‚¬μΌ :
                    -let y=emp.HIREDATE.getUTCFullYear();
                    -let m=emp.HIREDATE.getUTCMonth()+1;
                    -m=(m<10)?`0${m}`:m;
                    -let d=emp.HIREDATE.getUTCDate();
                    -d=(d<10)?`0${d}`:d;
                    input(value=`${y}-${m}-${d}`,name="hiredate",type="date")
                    // input(value=emp.HIREDATE,name="hiredate",type="date")
                    // emp.HIREDATE λ” type=date : mysql μ€ HIREDATE(λ…„μ›”μΌ) μ κ°’μ„ JSμ DATE(λ…„μ›”μΌμ‹λ¶„μ΄λ°€λ¦¬μ„Έμ»¨μ΄)λ΅ νμ‹±
                    // => emp.HIREDATE λ¥Ό μ›ν•λ” μ–‘μ‹μΌλ΅ λ§λ“¤κΈ°!
                    // type=date value : yyy-MM-dd
                    // type=datetime value : yyyy-mm-dd'T'HH:mm // 'T'λ” λ¬Έμμ—΄ κµ¬λ¶„μ // λ°μ΄νΈμ λ΅μ»¬νƒ€μ… κ°’μ„ μμ •
                p
                    span μƒμ‚¬ :
                    input(value=emp.MGR,name="mgr")
                p
                    span λ¶€μ„ :
                    input(value=emp.DEPTNO,name="deptno")
                p
                    a(href=`/empDelete.do?empno=${emp.EMPNO}`) μ‚­μ &nbsp;
                    button(type="submit") μμ •μ μ¶

            // μμ •νΌμ€ λ””ν…μΌκ³Ό λ‘κ°™μ€λ° μμ •νΌμΌλ΅ μλ” κ²ƒ
            // mysql μ—μ„ HIREDATE μ‹κ°„μ΄ μ—†λ‹¤. κΈ°λ³Έ : date μ toString
            // == μ€ λ³€μλ¥Ό μ¶λ ¥ν•λ‹¤.
            // do λ” λ™μ νμ΄μ§€ ν™•μ¥μλ…
            // POST λ°©μ‹ μΏΌλ¦¬μ¤νΈλ§μ΄ λ„¤νΈμ›ν¬ μ”μ²­ν—¤λ”λ΅ λ„μ–΄κ°„λ‹¤. μ”μ²­μ— λ€ν• λ©”νƒ€μ •λ³΄(μƒμ„Έμ •λ³΄) κ°€ μ¶”κ°€
            // actionμ„ ν•λ” νμ΄μ§€λ¥Ό μ•΅μ…νμ΄μ§€λΌκ³  ν•λ‹¤ - λ‚μ¤‘μ— doλΌκ³  λ°”λ€λ‹¤// action : form μ— μλ” λ‚΄μ—­μ„ μ–΄λ””λ΅ μ „λ‹¬ν•κ±°λƒ
            // π“form νƒκ·Έμ•μ— μμ‹μ”μ†λ΅ νƒ­ λ“¤μ—¬μ“°κΈ° λμ–΄μ Έ μμ–΄μ•Ό ν•λ‹¤.
            // http ν†µμ‹  : λΈλΌμ°μ € μ”μ²­ -> μ„λ²„ μ‘λ‹µ λ (μ—°κ²°μ΄ μ—†λ‹¤)
            // μ†μΌ“ ν†µμ‹   : μΈν’‹μ¤νΈλ¦½ μ•„μ›ƒν’‹μ¤νΈλ¦Ό μ—°κ²° - κ³„μ† λ°μ΄ν„°λ¥Ό μ£Όκ³ λ°›μ„ μ μλ‹¤. ex) μ±„ν…(μ„λ΅λ΄¤λ‹¤λ”κ±Έ μ΄λ²¤νΈλ΅ ν™•μΈν•λ” - 1μ‚¬λΌμ§€λ”), κ²μ„
            // <form action do> ->  GET λ°©μ‹ : νΌ // POST λ°©μ‹ μμ •ν•λ” μ•΅μ…
            // input μ name μ€ νλΌλ―Έν„°μ key κ°’
            // μ‚¬μ›λ²νΈλ” primary key λΌμ„ μμ •μ•λλ‹¤
            // μ‚¬μ›λ²νΈ μμ •μ•λκ² ν•κΈ° -> <input readonly=true> μ¶”κ°€ν•κΈ° λλ” // type=hidden (input μ•λ³΄μ„)μΌλ΅ ν•κΈ°
            // &nbsp; κ³µλ°±

